<h1>Tentang website ini</h1>
<p>website ini adalah blog website yang dimana referensi nya adalah blog website dunia yaitu reddit,yang di buat menggunakan nodejs express dan juga mongoDB sebagai database </p>